
.reveal section img.raw {
  background: transparent;
  border: 0px solid white;
  box-shadow: inherit;
}

.phonetic {
  color: #cacaca;
}

.reveal section pre {
  width: 100%;
  font-size: 0.65em;
}
